body {
    font-family: 'Mountains of Christmas', cursive;
    background: url("../images/blackboard-board-boxes-1303090.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    color: white;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 970px;
    margin-top: 150px;
    padding-left: 60px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 60px;
    padding: 1rem;

}

h3 {
    font-size: 30px;
    padding: 1rem;
}

#answerText {
    padding: 1rem;
    font-size: 60px;
    letter-spacing: 2rem;
}

footer {
    padding: 4rem;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:focus {
    color: red;
}


@media screen and (max-width: 1400px) {
    .container {
        margin-top: 40px;
        max-width: 680px;
    }
    h1 {
        font-size: 40px;
        padding: 1rem;
    }
    
    h2 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    #answerText {
        font-size: 50px;
        letter-spacing: 1rem;
    }
    
    footer {
        font-size: 16px;
        padding: 3rem;
    }
}

@media screen and (max-width: 980px) {
    .container {
        margin-top: 120px;
        max-width: 490px;
    }
    h1 {
        font-size: 30px;
        padding: 1rem;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    #answerText {
        font-size: 40px;
        letter-spacing: 1rem;
    }
    
    footer {
        font-size: 16px;
        padding: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 120px;
        max-width: 470px;
    }
    h1 {
        font-size: 30px;
        padding: 1rem;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    #answerText {
        font-size: 40px;
        letter-spacing: 1rem;
    }
    
    footer {
        font-size: 16px;
        padding: 3rem;
    }
}