body {
    font-family: 'Mountains of Christmas', cursive;
    background: url("../images/blackboard-board-boxes-1303090.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    color: white;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 970px;
    margin-top: 150px;
    padding-left: 60px;
}

h1 {
    font-size: 50px;
    padding: 2rem;
}

h2 {
    font-size: 60px;
    padding: 1rem;

}

h3 {
    font-size: 30px;
    padding: 1rem;
}

#answerText {
    padding: 1rem;
    font-size: 60px;
    letter-spacing: 2rem;
}

footer {
    padding: 4rem;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:focus {
    color: red;
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}